<div id="footer" class="bg-[#121921]">
    <div id="vtorFooter" class="px-5 md:px-9 pt-36 lg:grid lg:grid-flow-col justify-around">
        <div id="vtorLogo" class="lg:max-w-lg">
            <a href="" class="">
                <div class="space-x-5 pb-7">
                    <p class="text-[#0083ff] font-semibold text-4xl lg:text-5xl inline-block">VTOR</p>
                    <p class="text-[#a1b7d2] inline-block">Labs</p>
                </div>
            </a>
            <p class="text-secondary_text text-sm tracking-wide pb-12 leading-7"> VTOR Labs is one of the most promising companies in business solution provider VTOR is not only a tech company but a complete business buddy making sure smooth automation of your business operations and required upgrades for scaling your business
            </p>
            <a href="" class="text-white text-sm lg:text-base font-medium uppercase">Learn More about VTOR Labs</a>
               </div>
        <div id="footerLinks" class="pt-5 lg:pt-0">
            <p class="text-white text-xl md:text-2xl lg:text-3xl font-bold pb-6">Useful Links</p>
            <ul class="flex flex-col text-secondary_text text-sm xl:text-base lg:font-medium space-y-2">
                <li class="footer_links group">
                    <a href="" class="">Home</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
                <li class="footer_links group">
                    <a href="" class="">Company</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
                <li class="footer_links group">
                    <a href="" class="">Products</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
                <li class="footer_links group">
                    <a href="" class="">Contact</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
            </ul>
        </div>
        <div id="vtorConnect" class="pt-8 lg:pt-0 w-80 md:w-auto">
            <p class="text-white pb-5 md:text-2xl font-bold">Contact With Us</p>
            <div id="vtorContacts">
                <div class="flex space-x-2">
                    <i class="material-icons text-[#0083ff]">mail_outline</i>
                    <p class="text-secondary_text inline-flex">info@vtorlabs.com</p>
                </div>
                <button class="bg-green-600 w-full rounded-full py-3 px-7 mt-5 font-semibold text-white">Send a
                    message</button>
            </div>
            <div id="footerSocials" class="pt-6 text-secondary_text font-medium flex space-x-2 items-center">
                <p>Follow Us: </p>
                <i class="material-icons">facebook</i>
                <!-- <i class="material-icons">twitter</i>
                <i class="material-icons">instagram</i> -->
            </div>
        </div>
    </div>
    <div id="sub-footer" class="relative text-center mt-24 py-6 bg-white">
        <button id="back-to-top"
            class="bg-[#0083ff] shadow-[#0083ff] h-16 w-16 z-10 block left-[40%] md:left-[47%] -top-7 absolute rounded-full leading-[77px] animate-bounce"
            (click)="scrollToTop()">

            <mat-icon class="text-white">arrow_upward</mat-icon>
        </button>
        <div id="container" class="text-sm text-[#6987ab] px-4 py-5">
            <div id="copyright" class="space-y-2">
                <p>Copyright © <span id="date">{{date}}</span> <span class="text-sky-500 font-medium">VTOR</span></p>
                <p>Solutioning Accross The Globe</p>
              </div>
        </div>
    </div>
</div>