<div id="footer" class="bg-[#121921]">
    <div id="vtorFooter"
        class="px-5 xl:px-0 md:px-9 pt-36 lg:grid lg:grid-flow-col justify-around lg:justify-between max-w-[1200px] lg:mx-auto">
        <div id="vtorLogo" class="lg:max-w-lg">
            <a href="" class="">
                <div class="space-x-5 pb-7">
                    <p class="text-[#0083ff] font-extrabold text-4xl lg:text-5xl inline-block">VTOR</p>
                    <p class="text-[#a1b7d2] inline-block">Labs</p>
                </div>
            </a>
            <p class="text-secondary_text text-sm lg:text-base font-medium tracking-wide pb-12 leading-7"> VTOR Labs is
                one of the most promising
                companies in business solution provider VTOR is not only a tech company but a complete business buddy
                making sure smooth automation of your business operations and required upgrades for scaling your
                business
            </p>
            <a href="" class="text-white text-sm lg:text-base font-bold uppercase">Learn More about VTOR Labs</a>
        </div>
        <div id="footerLinks" class="pt-5 lg:pt-0">
            <p class="text-white text-xl md:text-2xl lg:text-3xl font-bold pb-6">Useful Links</p>
            <ul class="flex flex-col text-secondary_text text-sm xl:text-base lg:font-medium space-y-2">
                <li class="footer_links group">
                    <a href="" class="">Home</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
                <li class="footer_links group">
                    <a href="" class="">Company</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
                <li class="footer_links group">
                    <a href="" class="">Products</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
                <li class="footer_links group">
                    <a href="" class="">Contact</a>
                    <mat-icon class="ml-2 mt-[2px] text-sm !hidden group-hover:!inline-block">arrow_forward_ios
                    </mat-icon>
                </li>
            </ul>
        </div>
        <div id="vtorConnect" class="pt-8 lg:pt-0 w-80 md:w-auto">
            <p class="text-white pb-5 md:text-2xl lg:text-3xl font-bold">Contact With Us</p>
            <div id="vtorContacts">
                <div class="flex space-x-2 mb-6">
                    <i class="material-icons text-[#0083ff]">mail_outline</i>
                    <p class="text-secondary_text hover:text-[#0083ff] cursor-pointer inline-flex duration-300">
                        info@vtorlabs.com</p>
                </div>
                <a href="https://wa.me/919284469487?text=I%20want%20to%20know%20about%20the%20services%20provided%20by%20VtorLabs%20LLP.%20"
                    class="bg-green-600 w-full rounded-full py-3 px-7 mt-5 font-semibold text-white">Send a
                    message
                </a>
            </div>
            <div id="footerSocials" class="pt-6 text-secondary_text font-medium flex space-x-2 items-center">
                <p>Follow Us: </p>
                <div id="footerSocialIcons" class="flex items-center space-x-2">
                    <i class="material-icons cursor-pointer hover:text-[#0083ff] transition-all">facebook</i>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                        class="hover:!fill-[#0083ff] cursor-pointer transition-all" viewBox="0 0 24 24"
                        style=" fill:#4b5d73;">

                        <path
                            d="M22,3.999c-0.78,0.463-2.345,1.094-3.265,1.276c-0.027,0.007-0.049,0.016-0.075,0.023c-0.813-0.802-1.927-1.299-3.16-1.299 c-2.485,0-4.5,2.015-4.5,4.5c0,0.131-0.011,0.372,0,0.5c-3.353,0-5.905-1.756-7.735-4c-0.199,0.5-0.286,1.29-0.286,2.032 c0,1.401,1.095,2.777,2.8,3.63c-0.314,0.081-0.66,0.139-1.02,0.139c-0.581,0-1.196-0.153-1.759-0.617c0,0.017,0,0.033,0,0.051 c0,1.958,2.078,3.291,3.926,3.662c-0.375,0.221-1.131,0.243-1.5,0.243c-0.26,0-1.18-0.119-1.426-0.165 c0.514,1.605,2.368,2.507,4.135,2.539c-1.382,1.084-2.341,1.486-5.171,1.486H2C3.788,19.145,6.065,20,8.347,20 C15.777,20,20,14.337,20,8.999c0-0.086-0.002-0.266-0.005-0.447C19.995,8.534,20,8.517,20,8.499c0-0.027-0.008-0.053-0.008-0.08 c-0.003-0.136-0.006-0.263-0.009-0.329c0.79-0.57,1.475-1.281,2.017-2.091c-0.725,0.322-1.503,0.538-2.32,0.636 C20.514,6.135,21.699,4.943,22,3.999z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                        class="hover:!fill-[#0083ff] cursor-pointer transition-all" viewBox="0 0 50 50"
                        style=" fill:#4b5d73;">
                        <path
                            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                        class="hover:!fill-[#0083ff] cursor-pointer transition-all" viewBox="0 0 48 48"
                        style=" fill:#4b5d73;">
                        <path
                            d="M 16.5 5 C 10.16639 5 5 10.16639 5 16.5 L 5 31.5 C 5 37.832757 10.166209 43 16.5 43 L 31.5 43 C 37.832938 43 43 37.832938 43 31.5 L 43 16.5 C 43 10.166209 37.832757 5 31.5 5 L 16.5 5 z M 16.5 8 L 31.5 8 C 36.211243 8 40 11.787791 40 16.5 L 40 31.5 C 40 36.211062 36.211062 40 31.5 40 L 16.5 40 C 11.787791 40 8 36.211243 8 31.5 L 8 16.5 C 8 11.78761 11.78761 8 16.5 8 z M 34 12 C 32.895 12 32 12.895 32 14 C 32 15.105 32.895 16 34 16 C 35.105 16 36 15.105 36 14 C 36 12.895 35.105 12 34 12 z M 24 14 C 18.495178 14 14 18.495178 14 24 C 14 29.504822 18.495178 34 24 34 C 29.504822 34 34 29.504822 34 24 C 34 18.495178 29.504822 14 24 14 z M 24 17 C 27.883178 17 31 20.116822 31 24 C 31 27.883178 27.883178 31 24 31 C 20.116822 31 17 27.883178 17 24 C 17 20.116822 20.116822 17 24 17 z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer" class="relative text-center mt-24 py-6 bg-white">
        <button id="back-to-top"
            class="bg-[#0083ff] backToTop_Shadow h-16 w-16 z-10 block left-[40%] md:left-[47%] -top-7 absolute rounded-full leading-[77px] animate-bounce"
            (click)="scrollToTop()">

            <mat-icon class="text-white">arrow_upward</mat-icon>
        </button>
        <div id="container" class="text-sm text-[#6987ab] px-4 py-5">
            <div id="copyright" class="space-y-2">
                <p>Copyright © <span id="date">{{date}} </span> <span class="text-sky-500 font-bold">VTOR</span></p>
                <p>Solutioning Accross The Globe</p>
            </div>
        </div>
    </div>
</div>