// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
// .navigation {
//   height: $nav-height;
//   background: $nav-background;
// }

// Logo and branding
// .brand {
//   position: absolute;
//   padding-left: 20px;
//   float: left;
//   line-height: $nav-height;
//   text-transform: uppercase;
//   font-size: 1.4em;
//   a,
//   a:visited {
//     color: $nav-font-color;
//     text-decoration: none;
//   }
// }

// Container with no padding for navbar
// .nav-container {
//   max-width: $content-width;
//   margin: 0 auto;
// }

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
          color: $link-hover-color;
          cursor: pointer;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 150ms;
          transition-timing-function: linear;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.show-links {
  display: block !important;
  height: 12.5rem !important;
}

/* Mobile navigation */

// Binds to JS Toggle
// .nav-mobile {
//   display: none;
//   position: absolute;
//   top: 0;
//   right: 0;
//   background: $nav-background;
//   height: $nav-height;
//   width: $nav-height;
// }
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  // .nav-mobile {
  //   display: block;
  // }
  nav {
   width: 100%;
    padding: 65px 0 15px;
    ul {
      display: none;
      height: 0;
      li {
        float: none;
        a {
          
          padding: 15px;
          line-height: 20px;
          background: #0082d7;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}


// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}