<Header></Header>

<div id="contactPage-wrapper">
    <div id="container" class="mx-5 lg:flex lg:justify-around">
        <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                [options]="markerOptions"></map-marker>
        </google-map>
        <div id="location" class="lg:max-w-sm">
            <div id="locationNotes" class="text-center md:text-start my-5">
                <p class="text-2xl md:text-3xl font-bold text-primary_text my-8">Get in Touch with Us</p>
            </div>
            <div id="contactInfo" class="ml-7 md:ml-0">
                <div id="address" class="flex items-center mb-4">
                    <i class="material-icons text-4xl text-[#0083ff] mr-8">location_on</i>
                    <p class="text-lg lg:text-base font-bold md:font-semibold lg:font-bold text-primary_text">
                        Gayatri Darshan,
                        Thakur Village, Kandivali East,Mumbai,Maharashtra,
                        India</p>
                </div>
                <div id="contactNumber" class="flex items-center mb-4">
                    <i class="material-icons text-4xl text-[#0083ff] mr-8">dialpad</i>
                    <p class="text-lg lg:text-base font-bold md:font-semibold lg:font-bold text-primary_text">
                        +91 7709060525 </p>
                </div>
                <div id="email" class="flex items-center mb-4">
                    <i class="material-icons text-4xl text-[#0083ff] mr-8">email</i>
                    <p class="text-lg lg:text-base font-bold md:font-semibold lg:font-bold text-primary_text">
                        info@vtorlabs.com</p>
                </div>
                <a href=""
                    class="uppercase text-xs lg:text-sm font-bold md:font-extrabold px-9 py-3 my-5 bg-[#738CAA] rounded-full text-white inline-block cursor-pointer">
                    Send a message
                </a>
            </div>
        </div>
    </div>
</div>

<Footer></Footer>