<div id="labsStory-slider" class="py-9 bg-[#ecf5fe]">
    <div id="container" class="text-primary_text px-5 max-w-7xl mx-auto">
        <p class="text-primary_text text-2xl lg:text-4xl font-bold text-center mx-auto pb-7 lg:pb-16 lg:w-96">Short Story About Us</p>
        <owl-carousel-o [options]="storySliderOptions">

            <ng-container *ngFor="let aboutLab of labsStoryData">
                <ng-template carouselSlide>
                    <div id="shortStory_wrapper" class="lg:max-w-xs lg:mx-4">
                        <div id="shortStory_images" [ngStyle]="{background: aboutLab.bgColor}"
                            class="w-[100px] h-[100px] text-center mx-auto mb-4 rounded-full leading-[95px]">
                            <img [src]="aboutLab.yearImg" class="h-10 w-10 !inline-block">
                        </div>
                        <div id="shortStory_info" class="flex flex-col text-center space-y-4">
                            <p [ngStyle]="{color: aboutLab.bgColor}" class="font-medium">{{aboutLab.year}}</p>
                            <p class="font-bold lg:text-lg">{{aboutLab.yearTitle}}</p>
                            <p class="text-sm lg:text-base">{{aboutLab.yearInfo}}</p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>
</div>