<Header id="header" [page]="'home'" (scrollToElement)="scrollToElement($event)"></Header>
<Banner id="banner" [bannerInfo]="bannerData"></Banner>
<SupportCards id="cards"></SupportCards>

<ProductSlider id="slider"></ProductSlider>

<div id="vtorWorks" class="relative px-5 md:px-7 mt-12 pt-7 pb-10 bg-[#ecf5fe]">
    <div class="lg:flex lg:justify-between lg:items-center lg:max-w-[1200px] lg:mx-auto">
        <div id="vtorWorkingInfo" class="space-y-6 lg:max-w-xl h-fit">
            <h1 class="text-xl md:text-3xl lg:text-4xl text-primary_text font-bold tracking-wide">
                How the
                <span class="text-sky-600">VTOR</span>
                works
            </h1>
            <p class="text-primary_text text-sm md:text-lg lg:text-base tracking-wider !leading-7">
                Vision : Collect Requirement and Document a solution<br>
                Estimate : Estimate on the budget and sizing<br>
                Plan : Plan for the process of execution<br>
                Develope : Execute the plan<br>
                Deploy : Deploy the solution<br>
                Reality : Support the smooth functioning of solution
            </p>
            <button routerLink="/contactus"
                class="flex items-center text-xs lg:text-sm text-sky-600 font-bold tracking-wide border-2 border-sky-500 rounded-full py-3 px-8">Contact
                Us Now <i class="material-icons">keyboard_arrow_right</i></button>
        </div>
        <div id="vtroWorkingImg" class="flex justify-center">
            <img src="assets/images/video-thumb.png" alt="labsWorking" class="pt-4">
        </div>
    </div>
</div>

<div id="vtorOverview" class="bg-[#273f5b] py-8">
    <div id="vtorStats"
        class="grid lg:flex md:grid-cols-2 items-center justify-center space-y-9 lg:space-y-0 lg:justify-between lg:h-48 lg:px-5 xl:px-0 lg:max-w-[1200px] lg:mx-auto">
        <div id="vtorSolutions" class="text-center space-y-3">
            <span class="text-yellow-400 font-bold text-3xl lg:text-5xl">100+</span>
            <p class="text-xl text-white font-semibold">Buiness Solutions</p>
        </div>
        <div id="vtorUsers" class="text-center space-y-3">
            <span class="text-yellow-400 font-bold text-3xl lg:text-5xl">70+</span>
            <p class="text-white font-semibold text-xl">Customers</p>
        </div>
        <div id="vtorDownloads" class="text-center space-y-3">
            <span class="text-yellow-400 font-bold text-3xl lg:text-5xl">20+</span>
            <p class="text-white font-semibold text-xl">Products</p>
        </div>
        <div id="vtorAbout"
            class="md:col-start-1 md:col-end-3 text-center lg:text-left max-w-xs md:max-w-none lg:max-w-xs space-y-2">
            <h1 class="text-white font-bold text-xl">VTOR is an awesome start-up</h1>
            <p class="text-white/50 text-sm font-light">Actively building business solutions tech and market expertise</p>
        </div>
    </div>
</div>

<ClientReviews id="vtorReview" [clientReview]="clientData"></ClientReviews>

<Footer id="footer"></Footer>