<Header></Header>

<div id="aboutLabs" class="px-5 md:px-9 relative lg:flex lg:justify-around bg-gradient-to-t from-[#ecf5fe]">
    <img src="https://html.crumina.net/html-utouch/img/clouds19.png" alt="" class="absolute -z-10 w-[90vw]">
    <div id="companyContainer" class="inline-flex md:inline-block flex-col items-start md:max-w-2xl lg:mt-36">
        <div id="shortIntro" class=" pt-16 space-y-7 mb-8 text-start">
            <p class="text-pale_slate font-medium">COMPANY</p>
            <p class="text-xl md:text-3xl lg:text-4xl font-bold text-primary_text">Welcome to <span
                    class="text-[#0083ff]">VTOR!</span>
                We
                help you to turn your Vision into Reality.</p>
            <p class="text-sm md:text-lg text-primary_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <button
            class="mt-6 lg:mr-6 border-2 border-sky-500 rounded-full py-3 px-9 md:px-11 text-xs md:text-sm text-sky-600 font-black">LEARN
            MORE</button>
        <button routerLink="/contactus"
            class="text-xs md:text-sm text-white bg-green-600 py-3 px-9 md:px-11 rounded-full font-semibold mt-4">CONTACT
            US</button>
    </div>
    <div id="welcomeImage" class="mt-9 px-5 md:px-9 inline-block lg:bottom-32">
        <img src="assets/images/man-hello.png" alt="aboutUS_Man"
            class="w-80 md:w-96 object-contain inline-block">
    </div>
</div>

<div id="questions" class="py-24 px-5 md:px-9">
    <div id="question" class="space-y-10 lg:space-y-0 lg:grid lg:grid-flow-col max-w-7xl lg:mx-auto">
        <div id="question_one" class="text-primary_text space-y-5 lg:max-w-sm">
            <span class="text-sky-500 text-xl md:text-2xl font-semibold">01.</span>
            <p class="text-2xl md:text-3xl font-medium">Who We Are</p>
            <p class="text-sm md:text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi saepe
                deleniti in
                dolorem soluta sed
                quae.
            </p>
        </div>
        <div id="question_two" class="text-primary_text space-y-7 lg:max-w-sm">
            <span class="text-sky-500 text-xl md:text-2xl font-semibold">02.</span>
            <p class="text-2xl md:text-3xl font-medium">What We Do</p>
            <p class="text-sm md:text-base">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi
                exercitationem, magni
                atque at beatae
                magnam rerum quam tenetur natus temporibus.
            </p>
        </div>
        <div id="question_three" class="text-primary_text space-y-6 lg:max-w-sm">
            <span class="text-sky-500 text-xl md:text-2xl font-semibold">03.</span>
            <p class="text-2xl md:text-3xl font-medium">How We Do It</p>
            <p class="text-sm md:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eius molestiae
                beatae
                maiores odit magni
                vero laborum.</p>
        </div>
    </div>
</div>

<LabstoryCarousel></LabstoryCarousel>

<div id="founder-wrapper" class="py-20">
    <div id="container">
        <div id="founder-head"
            class="px-5 mb-8 text-center tracking-wide space-y-5 text-primary_text lg:max-w-xl lg:mx-auto">
            <p class="font-bold text-2xl md:text-3xl lg:text-4xl">Meet our Professional Team</p>
            <p class="text-sm md:text-lg lg:text-sm text-pale_slate leading-6">Mirum est notare quam littera gothica,
                quam nunc
                putamus parum claram,
                anteposuerit litterarum formas humanitatis per.
            </p>
        </div>
        <div id="team-wrapper" class="px-5 mt-9">
            <div id="teamContainer" class="lg:grid lg:grid-flow-col lg:grid-rows-2 lg:gap-y-7 max-w-7xl lg:mx-auto">
                <ng-container *ngFor="let info of vtorTeamData">
                    <div id="teamMember" class="flex flex-col lg:flex-row">
                        <div id="teamMember_avatar" class="mx-auto">
                            <img src="{{info.memberAvatar}}" class="inline-block">
                        </div>

                        <div id="teamMemberInfo" class="pt-4 text-secondary_text lg:max-w-[280px]">
                            <p class="text-pale_slate text-xs font-bold mb-4 uppercase">{{info.memberRole}}</p>
                            <p class="text-lg font-bold mt-3 mb-6">{{info.memberName}}</p>
                            <p class="text-sm md:text-base mb-8">{{info.memberIntro}}</p>

                            <div id="member-connect"
                                class="border-2 inline-flex items-center justify-center rounded-full h-8 w-8">
                                <i class="material-icons cursor-pointer">facebook</i>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>

<Footer></Footer>