/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {

    .slide3_Content {
        @apply mx-6 flex flex-col items-start space-y-6 justify-center
    }

    .slide3_ContentMD {
        @apply absolute right-0 w-[25rem] h-96
    }

    .slide3_ContentLG {
        @apply absolute right-0 w-[36rem] h-96
    }

    /* Header Component Styling*/

    .nav-mobile {
        @apply lg:hidden absolute top-0 right-2 h-12 w-12 block pt-2
    }

    .active-link {
        @apply lg:!text-[#0083ff]
    }


    /* Header Component Styling END */

    /* Banner Component */
    .slide-wrapper {
        @apply h-screen flex items-center
    }

    /* Screenshot section */

    .mainCarousel-bg {
        background: url('/assets/images/smartphone.png') 50% 0 no-repeat;
        background-size: contain;
        
    }

    /* .appScreenshot {
        @apply w-[68vw] md:w-[40vw] lg:w-[22vw] 2xl:w-[22vw] lg:mr-[6.7rem] lg:ml-auto xl:mr-[5.8rem] 2xl:mr-[8.5rem] mx-auto
    } */

    /* Footer Component */
    .footer_links {
        @apply hover:ml-3 transition-all ease-in-out hover:text-[#0083ff] inline-flex duration-300 h-5
    }
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}


.clientStyling .owl-theme .owl-nav [class*=owl-] {
    color: #0083ff !important;
    background-color: transparent;
}

.clientStyling .owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 10rem;
}

.bannerArrowStyling .owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 27rem;
}

.bannerArrowStyling .owl-theme .owl-nav [class*=owl-] {
    color: white !important;
    background-color: #0083ff;
    opacity: .4;
    margin: 0;
    width: 38px;
    transition: opacity .3s ,width .3s;
}

@media only screen and (min-width: 1024px) {
    .bannerArrowStyling .owl-theme .owl-nav [class*=owl-] {
        width: 51px;
    }
}

.bannerArrowStyling .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: 1;
    width: 50px;
}

.bannerArrowStyling .owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.bannerArrowStyling .owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.owlHeight .owl-carousel { 
    overflow: hidden;
    height: 730px;
}

/* Product Page Carousel */

.scrennshotArrows .owl-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 14rem;
}
.scrennshotArrows .owl-theme .owl-nav [class*=owl-] {
    color: white !important;
    background-color: #0083ff;
    opacity: .4;
    margin: 0;
    transition: opacity .3s;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

/* 
.scrennshotArrows .owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrennshotArrows .owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-prev {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
*/
.scrennshotArrows .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: 1;
} 