<div id="single-support-card"
    class="max-w-xs md:max-w-xl lg:max-w-sm lg:mx-auto flex flex-col lg:flex-row items-center lg:items-start">
    <img src="{{support.cardImg}}" alt="" class="h-16 inline-block my-7 lg:my-0">
    <div id="productInfo" class="lg:text-start text-center lg:ml-7">
        <p
            class="text-primary_text font-semibold text-xl md:text-2xl hover:text-sky-500 cursor-pointer transition-all ease-linear">
            {{support.cardTitle}}</p>
        <p class="my-6 text-sm text-primary_text tracking-wide text-center lg:text-start">{{support.cardDes}}</p>
    </div>
</div>